/* REGULAR ELEMENTS */
p {
  font-size: 14px;
}

/* HEADER */
#main-header {
  text-align: left;
}

#main-header h1,
#main-header h3 {
  margin-left: 40px;
  text-align: left;
}

#main-header .btn {
  margin-left: 40px;
}

.me {
  width: 50%;
}

/* OFFER */
#offer img {
  width: 70%;
  margin-left: 13%;
  margin-right: 17%;
}

/* MY PROJECTS */
#my-projects .project {
  margin-bottom: 10px;
}

#my-projects .project:nth-of-type(2),
#my-projects .project:nth-of-type(4) {
  display: block;
}

#my-projects .project-photo,
#my-projects .project-description {
  float: left;
  width: 50%;
}

#my-projects .project:nth-of-type(2) .project-description {
  background-color: #277799;
}

#my-projects .project:nth-of-type(3) .project-description {
  background-color: #ff4f2c;
}

#my-projects .project:nth-of-type(4) .project-description {
  background-color: #277799;
}

/* MY INTERESTS */
.interest {
  float: left;
  width: 50%;
}